################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/soundConsoleApp
/KeypressSoundApp
*.ide-wal
